Construcción de un generador coherente con la estadística de los datos reales (twiter_training.csv y twiter_validation.csv).

In [1]:
import pandas as pd
from collections import Counter
import re
from wordcloud import WordCloud
import matplotlib.pyplot as plt

In [19]:
train = pd.read_csv("data/twitter_training.csv")
valid = pd.read_csv("data/twitter_validation.csv")

train.head()

,Tweet ID,Entity,Sentiment,Tweet content
0,2401,Borderlands,Positive,im getting on borderlands and i will murder yo...
1,2401,Borderlands,Positive,I am coming to the borders and I will kill you...
2,2401,Borderlands,Positive,im getting on borderlands and i will kill you ...
3,2401,Borderlands,Positive,im coming on borderlands and i will murder you...
4,2401,Borderlands,Positive,im getting on borderlands 2 and i will murder ...

In [20]:
valid.head()

,Tweet ID,Entity,Sentiment,Tweet content
0,3364,Facebook,Irrelevant,I mentioned on Facebook that I was struggling ...
1,352,Amazon,Neutral,BBC News - Amazon boss Jeff Bezos rejects clai...
2,8312,Microsoft,Negative,@Microsoft Why do I pay for WORD when it funct...
3,4371,CS-GO,Negative,"CSGO matchmaking is so full of closet hacking,..."
4,4433,Google,Neutral,Now the President is slapping Americans in the...

In [9]:
df = pd.concat([train, valid])

df.head()

,2401,Borderlands,Positive,"im getting on borderlands and i will murder you all ,",3364,Facebook,Irrelevant,"I mentioned on Facebook that I was struggling for motivation to go for a run the other day, which has been translated by Tom’s great auntie as ‘Hayley can’t get out of bed’ and told to his grandma, who now thinks I’m a lazy, terrible person 🤣"
0,2401.0,Borderlands,Positive,I am coming to the borders and I will kill you...,NaN,NaN,NaN,NaN
1,2401.0,Borderlands,Positive,im getting on borderlands and i will kill you ...,NaN,NaN,NaN,NaN
2,2401.0,Borderlands,Positive,im coming on borderlands and i will murder you...,NaN,NaN,NaN,NaN
3,2401.0,Borderlands,Positive,im getting on borderlands 2 and i will murder ...,NaN,NaN,NaN,NaN
4,2401.0,Borderlands,Positive,im getting into borderlands and i can murder y...,NaN,NaN,NaN,NaN

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 75680 entries, 0 to 998
Data columns (total 8 columns):
 #   Column                                                                                                                                                                                                                                              Non-Null Count  Dtype
---  ------                                                                                                                                                                                                                                              --------------  -----
 0   2401                                                                                                                                                                                                                                                74681 non-null  float64
 1   Borderlands                                                                                                                                                                                                                                         74681 non-null  object
 2   Positive                                                                                                                                                                                                                                            74681 non-null  object
 3   im getting on borderlands and i will murder you all ,                                                                                                                                                                                               73995 non-null  object
 4   3364                                                                                                                                                                                                                                                999 non-null    float64
 5   Facebook                                                                                                                                                                                                                                            999 non-null    object
 6   Irrelevant                                                                                                                                                                                                                                          999 non-null    object
 7   I mentioned on Facebook that I was struggling for motivation to go for a run the other day, which has been translated by Tom’s great auntie as ‘Hayley can’t get out of bed’ and told to his grandma, who now thinks I’m a lazy, terrible person 🤣  999 non-null    object
dtypes: float64(2), object(6)
memory usage: 5.2+ MB

In [15]:
#Distribución de sentimientos
print("\nDistribución de sentimientos:")
print(df['sentiment'].value_counts(normalize=True))

Distribución de sentimientos:

KeyError: 'sentiment'

In [ ]:


# 2️⃣ Longitud promedio de los textos
df['text_length'] = df['text'].astype(str).apply(len)
print("\nLongitud promedio del texto:")
print(df['text_length'].describe())

# 3️⃣ Top palabras
def tokenize(text):
    text = re.sub(r"http\S+|@\S+|#\S+", "", str(text).lower())
    words = re.findall(r'\b[a-záéíóúñü]+', text)
    return words

all_words = [w for text in df['text'] for w in tokenize(text)]
counter = Counter(all_words)
print("\nTop 20 palabras más frecuentes:")
print(counter.most_common(20))

# 4️⃣ Top hashtags (si existen)
if 'hashtags' in df.columns:
    all_tags = [t for tags in df['hashtags'].dropna() for t in str(tags).split()]
    tag_counts = Counter(all_tags)
    print("\nTop hashtags:")
    print(tag_counts.most_common(10))

# 5️⃣ Nube de palabras
text_corpus = " ".join(all_words)
wc = WordCloud(width=800, height=400, background_color="white").generate(text_corpus)
plt.imshow(wc, interpolation="bilinear")
plt.axis("off")
plt.show()